.news {
    background-color: $color-grayish-blue-very-dark;

    grid-row: 2 / span 2;
    grid-column: col-start 5 / -1;

    @include respond(bp-large) {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
    }

    padding: 2rem;

    &__head {
        color: $color-primary-orange;
        font-size: 4rem;
    }

    &__title {
        &,
        &:link,
        &:visited {
            font-size: 2rem;
            text-decoration: none;
            color: $color-off-white;
            font-weight: 700;
        }

        &:hover {
            color: $color-primary-orange;
        }

        &:active {
            color: $color-primary-red;
        }
    }

    &__content {
        line-height: 1.5;
        color: $color-grayish-blue;

        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    &__box {
        margin-top: 2rem;

        &:not(:last-child) {
            border-bottom: .2rem solid $color-grayish-blue;
        }
    }
}