.recommendation {
    margin-top: 5rem;
    color: #000;
    grid-row: 4 / -1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: minmax(20rem, min-content);
    grid-gap: 3rem;

    @include respond(bp-large) {
        grid-row: 5 / -1;
        margin-top: 2rem;
    }

    line-height: 1.7;

    &__box {
        display: flex;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__content-box {
        flex: 1;
        margin-left: -1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    &__img-box {
        width: 60%;
    }

    &__img {
        width: 80%;
        height: 100%;
        display: block;
    }

    &__number {
        font-size: 3.5rem;
        color: $color-grayish-blue;
    }

    &__title {
        &,
        &:link,
        &:visited {
            font-size: 2rem;
            text-decoration: none;
            font-weight: 700;
            color: $color-black;
        }

        &:hover {
            color: $color-primary-orange;
            cursor: pointer;
        }

        &:active {
            color: $color-primary-red;
        }
    }

    &__content {
        
    }
}